body {
	margin: 0;
	padding: 0;
	font-family: revert;
	background-image: url(imagens/texture.jpg);
	color: white;

}

a {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

header {

	background-color: #41A2BFaa;
	height: 100px;
	padding-top: 25px;
	color: #ffffff;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	margin-right: 450px;
	margin-left: 450px;



}

main {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		align-content: center;
		gap: 25px;

}

footer {
			height: 70px;
			padding-top: 10px;
			padding-bottom: 10px;
			color: #ffffff;
			background-color: #41A2BFaa;
			text-align: center;
			margin-top: 20px;


}


.box {
			width: 250px;
	 		height: 620px;
	 		background-color: #7582E0;
	 		border-radius: 10px;
	 		padding: 10px;
	 		text-align: center;
	 		margin: 10px;
	 		border: 3px solid #ffffff;
	 		

}


.box figure{

		width: 250px;
	 	height: 250px;
	 	background-color: #e6e6e6;
	 	margin: 0;
	 	padding: 0;
	 	border: 3px solid #ffffff;
}

.box:hover{
	 	box-shadow: 6px 6px 10px #a4a4a4;
	 	transform: scale(1.1);
	 	transition: transform 0.5s ease-in-out;

	 }
